<h2>Configuration</h2>
      
<label for="thr-temp">Temperature Threshold</label>
<input type="number" id="thr-temp" name="thr-temp" value="" required />

<label for="thr-hum">Humidity Threshold</label>
<input type="number" id="thr-hum" name="thr-hum" value="" required />

<label for="thr-pressure">Pressure Threshold</label>
<input type="number" id="thr-press" name="thr-press" value="" required />

<label for="slice-time">Slice size (miliseconds)</label>
<input type="number" id="slice-time" name="slice-time" value="" required />

<label for="time-update">BME280 Time update (miliseconds)</label>
<input type="number" id="time-update" name="time-update" value="" required />  
