<h2>MQTT Topics</h2>
      
<label for="mqtt-topic-wind">Wind</label>
<input type="text" id="mqtt-topic-wind" name="mqtt-topic-wind" value="" required />

<label for="mqtt-topic-laser">laser</label>
<input type="text" id="mqtt-topic-laser" name="mqtt-topic-laser" value="" required />

<label for="mqtt-topic-temp">temperature</label>
<input type="text" id="mqtt-topic-temp" name="mqtt-topic-temp" value="" required />

<label for="mqtt-topic-hum">Humidity</label>
<input type="text" id="mqtt-topic-hum" name="mqtt-topic-hum" value="" required />

<label for="mqtt-topic-press">Pressure</label>
<input type="text" id="mqtt-topic-press" name="mqtt-topic-press" value="" required />
